<!DOCTYPE html>
<html>
<head>
    <title>Products List</title>
</head>
<body>
    <h1>Koszyk</h1>
    <ul>
        <% if(cart.length > 0){ %>
            <% cart.forEach(function(item, index) { %>
                <li id="productItem<%= index %>"> <!-- Unique ID for the entire product item -->
                    Nazwa: <%= item.nazwa %> Cena: <%= item.cena %>
                    <form id="deleteForm<%= index %>">
                        <input type="hidden" name="action" value="delete">
                        <button type="submit" onclick="deleteItem(event, <%= index %>, '<%= item.nazwa %>')">Usuń</button>
                    </form>
                </li>
            <% }); %>
        <% } else { %>
            <li>Twój koszyk jest pusty.</li>
        <% } %>

        <form action="/cart" method="POST">
            <input type="hidden" name="action" value="back">
            <button type="submit">Wróć do produktów</button>
        </form>
    </ul>
    <script>
        function deleteItem(event, index, nazwa) {
            event.preventDefault(); 
            fetch('/cart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    index: index,
                    nazwa: nazwa,
                    action: 'delete'
                })
            })
            .then(response => response.json())
            .then(data => {
                if(data.success){
                    document.getElementById('productItem' + index).remove();
                }
                
                
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Błąd przy usuwaniu produktu!');
            });
        }
        </script>
    
</body>

</html>